/*
********************************************************
Table Of Content
********************************************************
1.Left-Section
2.Right-Section
********************************************************
*/

/*Start Left-Section*/
section.home-page {
  min-height: calc(100vh - 16.3rem);
  position: relative;
  margin: 5rem 0 0;
  align-items: start;
  position: relative;
}
section.home-page .left-section {
  flex: 1;
}
section.home-page .left-section .avatar {
  width: 150px;
  border: 1px solid var(--img-border);
  border-radius: 50%;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.6) inset;
  gap: 0.4rem;
}
section.home-page .left-section .avatar img {
  width: 100%;
}
section.home-page .left-section .avatar .icon-verified {
  color: var(--blue);
  align-self: flex-end;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
section.home-page .left-section h1.title {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 1.5rem 0 0;
  color: var(--title);
}
section.home-page .left-section h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--subtitle);
}
section.home-page .left-section p {
  color: var(--blue);
}
section.home-page .left-section p > span {
  color: var(--subtitle);
  font-size: 1.2rem;
}
section.home-page .left-section .skills {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.7rem 1.5rem;
  border-radius: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  user-select: none;
}
section.home-page .left-section .skills h3 {
  color: var(--titlte);
  font-weight: 500;
}
section.home-page .left-section .skills div {
  min-height: 90px;
  width: fit-content;
}
section.home-page .left-section .skills div ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.skills ul li {
  color: var(--blue);
  line-height: 1.2rem;
  padding: 0.5rem;
  background-color: var(--border);
  margin: 0.25rem;
  border-radius: 0 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}
/*End Left-Section*/

/*Start Right-Section*/
section.home-page .right-section {
  width: 40%;
}
section.home-page .right-section .home-animation {
  width: 27rem;
  margin: 3rem 4rem 0;
}
/*End Right-Section*/

/*Start Responsive*/
@media (max-width: 1050px) {
  section.home-page {
    flex-direction: column;
  }
  section.home-page .left-section {
    flex: 0;
    max-height: 300px;
  }
  section.home-page .right-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6.5rem;
  }
  section.home-page .right-section .home-animation {
    width: 30rem;
    margin: 0;
  }
  section.home-page .left-section .skills {
    margin-top: 0.9rem;
    padding: 0.5rem 1.5rem;
  }
  .skills ul li {
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  section.home-page {
    min-height: calc(100vh - 16.5rem);
  }
  /* section.home-page .left-section p {
    margin-bottom: 8rem;
  } */
}
@media (max-width: 767px) {
  section.home-page {
    min-height: calc(100vh - 15.4rem);
    flex-direction: column;
    text-align: center;
    margin: 2.6rem 0 2.6rem;
    text-align: center;
  }
  section.home-page .left-section {
    width: 100%;
  }
  section.home-page .left-section h1.title {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  section.home-page .left-section h3 {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  section.home-page .left-section p {
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 0;
  }
  section.home-page .left-section p > span {
    font-size: 1rem;
  }

  section.home-page .left-section .skills {
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
  }
  section.home-page .left-section .skills div {
    min-height: 80px;
  }
  .skills ul li {
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  section.home-page .icons {
    gap: 1.5rem;
  }
  section.home-page .left-section .avatar {
    margin: auto;
    width: 8.5rem;
  }
  section.home-page .right-section {
    min-height: 100%;
    margin-top: 6.5rem;
  }
  section.home-page .right-section .home-animation {
    width: 30rem;
    margin: 0;
  }
}
/*End Responsive*/
