/*
********************************************************
Table Of Content
********************************************************
1.Left-Section
2.Right-Section
********************************************************
*/

/*Start Left-Section*/
section.home-page {
  min-height: calc(100vh - 16.3rem);
  position: relative;
  margin: 5rem 0 0;
  align-items: start;
  position: relative;
}
section.home-page .left-section {
  flex: 1;
}
section.home-page .left-section .avatar {
  width: 150px;
  border: 1px solid var(--img-border);
  border-radius: 50%;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.6) inset;
  gap: 0.4rem;
}

section.home-page .left-section .avatar .img-rep {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("https://via.placeholder.com/150");
  background-size: cover;
}
section.home-page .left-section .avatar img {
  width: 100%;
}
section.home-page .left-section .avatar .icon-verified {
  color: var(--blue);
  align-self: flex-end;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
section.home-page .left-section h1.title {
  font-size: 4.3rem;
  line-height: 3rem;
  margin: 1.5rem 0 0.5rem;
  color: var(--title);
}

section.home-page .left-section h1 span {
  background-image: linear-gradient(to right, #48cae4, var(--title));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.home-page .left-section p {
  color: var(--blue);
  font-size: 1.5rem;
}

section.home-page .left-section p > span {
  color: var(--subtitle);
  font-size: 1.2rem;
}
section.home-page .left-section .skills {
  margin-top: 1rem;
  user-select: none;
}
section.home-page .left-section .skills h4 {
  color: var(--titlte);
  font-weight: 500;
}
section.home-page .left-section .skills div ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
section.home-page .left-section .skills div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0.25rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
/*End Left-Section*/

/*Start Right-Section*/
section.home-page .right-section {
  width: 40%;
}
section.home-page .right-section .home-animation {
  width: 40rem;
  margin: 3rem 0 0;
}
.mui {
  max-width: 60%;
  max-height: 60%;
  user-select: none;
}
/*End Right-Section*/

/*Start Responsive*/
@media (max-width: 1550px) {
  section.home-page .right-section .home-animation {
    width: 27rem;
    margin: 3rem 1rem 0;
  }
}

@media (max-width: 1050px) {
  section.home-page {
    flex-direction: column;
  }
  section.home-page .left-section {
    flex: 0;
    max-height: 300px;
  }
  section.home-page .right-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  section.home-page .right-section .home-animation {
    width: 30rem;
    margin: 0;
  }
  section.home-page .left-section .skills {
    margin-top: 0.9rem;
  }
  .skills ul li {
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  section.home-page {
    min-height: calc(100vh - 16.5rem);
  }
}
@media (max-width: 767px) {
  section.home-page {
    min-height: calc(100vh - 13.7rem);
    flex-direction: column;
    text-align: center;
    margin: 2.6rem 0 1rem;
    text-align: center;
  }
  section.home-page .left-section {
    width: 100%;
  }
  section.home-page .left-section h1.title {
    font-size: 3.5rem;
    line-height: 1.5rem;
  }
  section.home-page .left-section p {
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 0;
  }
  section.home-page .left-section p > span {
    font-size: 1rem;
  }
  section.home-page .left-section .skills {
    margin-top: 1rem;
  }
  section.home-page .left-section .skills div ul {
    justify-content: center;
  }
  .skills ul li {
    font-size: 0.8rem;
  }

  section.home-page .icons {
    gap: 1.5rem;
  }
  section.home-page .left-section .avatar {
    margin: auto;
    width: 8.5rem;
  }
  section.home-page .right-section {
    min-height: 100%;
    margin-top: 1.2rem;
  }
  section.home-page .right-section .home-animation {
    width: 30rem;
    margin: 0;
  }
}
/*End Responsive*/
